.container {
  padding: 0 var(--px-container);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.message-row {
  display: flex;
}

.message-row:not(:first-child) {
  margin-top: 12px;
}

.message-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button-text {
  display: block;
  margin-top: 4px;
  line-height: 1;
}

.button-text--active {
  color: var(--ultramarine-blue);
}

.button-send {
  display: inline-flex;
  padding: 8px;
  border: none;
  background: none;
  border-radius: 50%;
}

.button-send--compose {
  align-self: center;
  margin-left: 5px;
}

.button-send__icon {
  transform: translateX(2px);
}

[hidden] {
  display: none;
}
