.button-logout {
  display: inline-flex;
  padding: 5px 8px;
  font-size: 0.8rem;
  color: var(--white);
  background: var(--ultramarine-blue);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: var(--font-primary);
}
