.compose {
  display: flex;
  padding: 5px 12px 10px var(--px-container);
}

.compose__input {
  flex-grow: 1;
  padding: 14px;
  font-size: 1rem;
  background-color: var(--bright-gray);
  border: none;
  border-radius: 25px;
  font-family: var(--font-primary);
}
