.header {
  padding: 23px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 900;
}

.header__title--room {
  margin-left: 11px;
  font-size: 1rem;
}

.header__button-logout {
  display: inline-flex;
  padding: 5px;
  background: none;
  border: 1px solid var(--metallic-silver);
  border-radius: 5px;
  cursor: pointer;
  transform: scaleX(-1);
}
