.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  width: 100%;
}

.login__title {
  margin-top: 53px;
}

.login__input {
  padding: 17px;
  font-size: 1rem;
  color: var(--dark-gray);
  background-color: var(--cultured);
  border: none;
  font-family: var(--font-primary);
}

.login__input:not(:first-child) {
  margin-top: 5px;
}

.login__alert {
  margin: 5px 0 10px;
  color: red;
}

.login__input--first {
  border-radius: 10px 10px 0 0;
}

.login__input--last {
  border-radius: 0 0 10px 10px;
}

.login__submit {
  margin-top: 39px;
  padding: 17px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--ultramarine-blue);
  border-radius: 10px;
  border: none;
}

.login__submit--disabled {
  color: var(--text-disabled);
  background-color: var(--cultured);
}
