.online-bar {
  overflow: hidden;
  margin-top: 15px;
}

.online-bar__list {
  display: inline-block;
  padding: var(--p-focus-ring) 0;
  white-space: nowrap;
}

.online-bar__item {
  display: inline-flex;
}

.online-bar__link {
  display: inline-flex;
  flex-direction: column;
  width: 60px;
  white-space: normal;
  text-decoration: none;
}

.online-bar__item:not(:first-child) {
  margin-left: 20px;
}

.online-bar__name {
  display: block;
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: center;
  color: var(--black);
}
