.online-dot {
  position: absolute;
  border-radius: 50%;
  background-color: var(--mantis);
  border: 3px solid var(--white);
}

.online-dot--sm {
  right: -1px;
  bottom: -1px;
  width: 16px;
  height: 16px;
}

.online-dot--lg {
  width: 18px;
  height: 18px;
  right: 0;
  bottom: 0;
}
