.room {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

.room__content {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 10px 0;
  flex-grow: 1;
}

.room__messages {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  inset: 0;
  overflow: auto;
  padding: 15px 0;
}
