:root {
  --black: #000;
  --white: #fff;
  --cultured: #f5f5f5;
  --mantis: #66c959;
  --gray: #808080;
  --anti-flash-white: #f1f1f1;
  --metallic-silver: #a5aab1;
  --ultramarine-blue: #377af6;
  --px-container: 23px;
  --p-focus-ring: 3px;
  --font-primary: Lato, sans-serif;
}
