@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Black.ttf);
  font-weight: 900;
}

body {
  font-family: Lato, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --cultured: #f5f5f5;
}

.container {
  padding: 0 23px;
}
